.logo {
  width: 400px;
  height: 99px;
}

.title {
  width: 100%;
  color: #fafafa;
  justify-content: center;
  text-align: center;
}

.header {
  height: 100px;
  background-color: red;
  display: flex;
  flex: 1;
}
