/* css general */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

form {
  display: inline-grid;
  justify-content: center;
  align-items: center;
  width: -webkit-fill-available;
  box-shadow: 2px 4px 20px 2px rgba(0, 0, 0, 0.7);
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

input {
  width: 247px;
  padding: 1px;
  color: red;
  font-size: 1.2rem;
  height: 40px;
  display: flex;
}

/* css del main */

h3 {
  text-align: center;
  align-items: center;
}

.busqueda {
  float: right;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.tabla__convenios {
  margin-right: 70px;
  margin-left: 70px;
}

/* css del formulario de registro */

.formulario__registro {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: -webkit-fill-available;
  border-radius: 2%;
  border-color: gray;
}

#button {
  display: block;
  width: 253px;
}

/* css del header */

.logo img {
  width: 350px;
  height: 100px;
}

.title {
  width: 100%;
  color: #fafafa;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header {
  height: 100px;
  background-color: red;
  display: flex;
  flex: 1;
}

/* css del componente presentacion  */
.presentation__txt {
  width: 80%;
  color: black;
  text-align: center;
}

.presentation {
  background-color: #e8e8e8;
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* css del nav */

.nav {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.current__user {
  float: left;
  color: white;
  margin-right: 700px;
}

.menu__buttons {
  float: right;
  margin-left: 700px;
}

#cuenta,
#salir {
  width: 40px;
  height: 40px;
  fill: white;
}

/* css del layout  */

.layout {
  display: flex;
  height: 300px;
}

/* css del sidebar */

.sidebar {
  /* width: 20%; */
  display: flex;
  flex-direction: column;
  flex: 0.25;
}

/* .siderbar button {
  flex: 0.34;
} */

/* css de reportes */

.reportes {
  /* width: 80%; */
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0.75;
}

.titleReportes {
  margin-left: 100px;
  margin-right: 100px;
}

.panels {
  top: 0%;
  display: inline-flex;
  width: 700px;
}

.panelStart {
  width: 150px;
  height: 100px;
  margin-right: 300px;
}

.panelEnd {
  width: 150px;
  height: 100px;
}

.btnGenerar {
  justify-items: center;
  align-items: center;
}
